{% extends "base.html" %}
{% load static %}


{% block content %}


<!-- タイトル部分 -->
{% include "components/page_header.html" with header="特徴" %}

<!-- コンテンツ -->
<div class="theme-bg-orange pb-4">
    <div class="container">
        
        {% include "components/menu_title_component.html" with menu_title="コンテンツ" %}
        
        <div class="row">
            {% for content in contents %}
                {% include "components/card_horizon_img_left.html" with content=content %}
            {% endfor %}
        </div>
            
    </div>
</div>

<!-- 身につくこと -->
<div class="theme-bg-gray">
    <div class="container">

        {% include "components/menu_title_component.html" with menu_title="身につくこと" %}

        <div class="row d-flex align-items-center justify-content-center">
            {% for learn in learns %}
                {% include "components/card_vertical_img_top.html" with img_src=learn.cover_image card_title=learn.item card_body=learn.description %}
            {% endfor %}            
        </div>

    </div>
</div>


<!-- 作成の流れ -->
<div class="theme-bg-orange pb-4">

    {% include "components/menu_title_component.html" with menu_title="作成の流れ" %}

    <div class="container">
        {% for creation_flow_block in creation_flow_blocks %}
            <div style="position: relative;">
                <div class="circle-title bg-skyblue d-flex align-items-center justify-content-center" style="position: absolute;top:-30px;background: {{creation_flow_block.sub_title_color}};">
                    <div class="text-center">
                        <span>
                            <small class="small">{{creation_flow_block.sub_title1}}</small><br>
                            <small class="fs-4"><b>{{creation_flow_block.sub_title2}}</b></small>
                        </span>
                    </div>
                </div>
                <div class="rounded-box bg-white d-flex align-items-center justify-content-center">
                    <div>
                        <div class="h3 text-center mt-5">{{creation_flow_block.flow_title}}</div>
                        <div class="row">
                            {% for child_page in creation_flow_block.get_children.specific %}
                                {% include "components/card_vertical_img_top.html" with img_src=child_page.cover_image card_title=child_page.flow_item card_body=child_page.description %}
                            {% endfor %}    
                        </div>
                    </div>
                </div>
            </div>

            <!-- ドッドの矢印 -->
            {% if not creation_flow_block.order_check %}
                {% include "components/vertical_dod_arrow.html" %}
            {% endif %}

        {% endfor %}
    </div>

</div>


<!-- こだわり -->
<div class="theme-bg-gray pb-4">
    <div class="container">

        {% include "components/menu_title_component.html" with menu_title="こだわり" %}

        {% for particular_block in particular_blocks %}
            {% include "components/block_horizon_img_left.html" with title=particular_block.particular_title img=particular_block.cover_image description=particular_block.description %}

            <!-- ドッドの線 -->
            {% if not particular_block.order_check %}
                {% include "components/vertical_dod_line.html" %}
            {% endif %}
        {% endfor %}

    </div>
</div>

{% endblock content %}