{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- タイトル部分 -->
{% include "components/page_header.html" with header="オンライン教室" %}

<div class="theme-bg-orange pb-4">

    <div class="container">
        <div class="">

            {% include "components/menu_title_component.html" with menu_title="時間割り" %}
            
            <!-- <div class="table-responsive"></div> -->
            <table class="table table-bordered border-3">
                <thead>
                    <tr class="text-center">
                        <th scope="col" style="width: 12.5%;">
                            <span>-</span>
                        </th>
                        <th scope="col" style="width: 12.5%;">月</th>
                        <th scope="col" style="width: 12.5%;">火</th>
                        <th scope="col" style="width: 12.5%;">水</th>
                        <th scope="col" style="width: 12.5%;">木</th>
                        <th scope="col" style="width: 12.5%;">金</th>
                        <th scope="col" style="width: 12.5%;">土</th>
                        <th scope="col" style="width: 12.5%;">日</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="align-middle text-center">
                        <span>10:00〜</span><br>
                        <span>11:20</span>
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="align-middle text-center h4">◯</td>
                    <td class="align-middle text-center h4">◯</td>
                  </tr>

                  <tr>
                    <td class="align-middle text-center">
                        <span>11:40〜</span><br>
                        <span>13:00</span>
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="align-middle text-center h4">◯</td>
                    <td class="align-middle text-center h4">◯</td>
                  </tr>

                  <tr>
                    <td class="align-middle text-center">
                        <span>14:20〜</span><br>
                        <span>15:40</span>
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="align-middle text-center h4">◯</td>
                    <td class="align-middle text-center h4">◯</td>
                  </tr>

                  <tr>
                    <td class="align-middle text-center">
                        <span>16:00〜</span><br>
                        <span>17:20</span>
                    </th>
                    <td class="align-middle text-center h4">◯</td>
                    <td></td>
                    <td></td>
                    <td class="align-middle text-center h4">◯</td>
                    <td class="align-middle text-center h4">◯</td>
                    <td class="align-middle text-center h4">◯</td>
                    <td class="align-middle text-center h4">◯</td>
                  </tr>

                  <tr>
                    <td class="align-middle text-center">
                        <span>17:40〜</span><br>
                        <span>19:00</span>
                    </th>
                    <td class="align-middle text-center h4">◯</td>
                    <td></td>
                    <td></td>
                    <td class="align-middle text-center h4">◯</td>
                    <td class="align-middle text-center h4">◯</td>
                    <td class="align-middle text-center h4">◯</td>
                    <td class="align-middle text-center h4">◯</td>
                  </tr>

                </tbody>
            </table>
            </div>
        </div>
    </div>

</div>



<div class="theme-bg-gray pb-4">

    <div class="container">

        <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
            <div class="text-center">
                <span>
                    <small class="small">CraftGuildでのモノづくりの</small>
                </span>
                <br>
                <span class="h1">
                    プラン
                </span>
            </div>
        </div>

        <div class="rounded-box bg-white d-flex align-items-center justify-content-center">

            <div>

                <div class="h3 text-center mt-5">80分授業</div>

                <div class="row">
                    <div class="col-md-4 m-5" style="width: 18rem;">
                        <img src="https://www.dohouse.co.jp/marketing-info/files/2019/02/890788_s.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-title text-center h5 border-bottom border-3 border-dark p-2">
                                月2プラン
                            </div>
                            <div class="card-text pt-3 text-center">
                                <div class="h4">15,200円(税込)</div>
                                <p>5,100円(税込) (160分)</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 m-5" style="width: 18rem;">
                        <img src="https://www.dohouse.co.jp/marketing-info/files/2019/02/890788_s.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-title text-center h5 border-bottom border-3 border-dark p-2">
                                月2プラン
                            </div>
                            <div class="card-text pt-3 text-center">
                                <div class="h4">15,200円(税込)</div>
                                <p>5,100円(税込) (160分)</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 m-5" style="width: 18rem;">
                        <img src="https://www.dohouse.co.jp/marketing-info/files/2019/02/890788_s.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-title text-center h5 border-bottom border-3 border-dark p-2">
                                月2プラン
                            </div>
                            <div class="card-text pt-3 text-center">
                                <div class="h4">15,200円(税込)</div>
                                <p>5,100円(税込) (160分)</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>



</div>


<div class="theme-bg-orange">

    <div class="container pb-3">
        <div class="">

            <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
                <div class="text-center">
                    <span>
                        <small class="small">CraftGuildでのモノづくりの</small>
                    </span>
                    <br>
                    <span class="h1">
                        カレンダー
                    </span>
                </div>
            </div>
            
        </div>

        {% include 'components/calendar.html' %}
        
    </div>

</div>


<div class="theme-bg-gray">

    <div class="container">

        <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
            <div class="text-center">
                <span>
                    <small class="small">CraftGuildでのモノづくりの</small>
                </span>
                <br>
                <span class="h1">
                    メンター紹介
                </span>
            </div>
        </div>

        <div class="row">
            {% load wagtailcore_tags wagtailimages_tags %}

            {% if mentors.count %}
                {% for mentor in mentors.all %}
                    
                    <div class="col-md-3 m-5" style="width: 18rem;">
                        {% image mentor.image fill-300x300 as mentor_img %}
                        <img src="{{ mentor_img.url }}" class="card-img-top rounded-circle" alt="{{ mentor_img.alt }}">
                        <div class="card-body">
                            <div class="card-title text-center h4 /border-bottom /border-3 /border-dark pt-3 pb-3">
                                <a href="{% pageurl mentor %}">{{ mentor.name }}</a>
                            </div>
                            
                            <div class="card-text text-center">
                                <p>{{ mentor.explanation|safe }}</p>
                            </div>
                        </div>
                    </div>
                    
                {% endfor %}
            {% else %}
                <p>まだメンターがいません</p>
            {% endif %}
        </div>



    </div>

</div>

{% endblock content %}