{% extends "base.html" %}
{% load static %}

<!-- 画像処理 -->
{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}

<main>

    <!-- タイトル部分 -->
    <div style="background:#FFF;">

        <div class="container">
            <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
                <h1>コンテンツ</h1>
            </div>
        </div>

    </div>

    <div style="background:#FFCC66;">
    {% if contents.count %}
        {% for content in contents.all %}
            <div class="container mt-2 mb-2">

                <div class="/row">
                    <h3 class="card-title text-center pt-5 pb-2">{{ content.contents_name }}</h3>

                    {% image content.cover_image fill-300x300 as cover_image %}
                    <img class="d-block w-100" src="{{ cover_image.url }}" alt="{{ cover_image.alt }}" height="200px">

                    <p>{{ content.explanation|richtext }}</p>

                    <div class="d-flex align-items-center justify-content-center" style="height: 90px;">
                        <a href="{% pageurl content %}" class="btn btn-secondary btn-lg">詳しくみる</a>
                    </div>
                    

                </div>

            </div>
        {% endfor %}
    {% else %}
        <p>まだメンターがいません</p>
    {% endif %}    
    </div>

</main>




{% endblock %}