{% extends "base.html" %}
{% load static %}

# 画像処理
{% load wagtailcore_tags wagtailimages_tags %}

{% load markdown_with_highlight %}


{% block content %}


<main>
    {% if user.is_authenticated %}
        <div>
            <div class="container">
                <div class="container">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'all_pages_integration:contents_page' %}">コンテンツ</a></li>
                        <li class="breadcrumb-item"><a href="{{ page.get_parent.url }}">{{ page.get_parent.slug }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">テキスト:{{ page.title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        
        <!-- タイトル部分 -->
        <div style="background:#FFF;">

            <div class="container">
                <div class="d-flex align-items-center justify-content-center" style="height: 200px;">

                    <div class="text-center">
                        <span class="badge rounded-pill text-bg-secondary">{{ page.categories }}</span>
                        <br>
                        <h1 class="mt-2">{{ page.text_name }}</h1>
                    </div>

                </div>
            </div>

        </div>

        {% if not page.categories.id == 1 and user.user_type == 1 and not user.is_superuser %}
            {% include 'contents/unable_view_alert.html' %}
        {% else %}
        <div class="theme-bg-orange pb-4">

            <div class="container">


                <div class="/mt-4 /mb-4">
                    {% image page.cover_image fill-1000x300 as cover_image %}
                    <img class="img-style-cover mt-4" src="{{ cover_image.url }}" alt="{{ cover_image.alt }}" width="100%" height="300px">    
                </div>
                
                <div class="row mt-4">
                    <div class="col-md-8">
                        <div class="w-100 bg-white p-2 rounded-3">
                            <p>
                                {{ page.body|markdown_with_highlight|safe }}
                            </p>
                        </div>
                    </div>

                    <!-- 目次 -->
                    <div class="col-md-4">
                        
                        <div class="bg-white p-2 rounded-3">
                            <div class="fs-5 mb-3">目次</div>
                            <div class="rendered-toc"></div>
                        </div>
                    </div>
                </div>                 
            

            </div>

        </div>
        
        {% endif %}  

    {% else %}
        {% include 'accounts/login_required.html' %}
    {% endif %}  

</main>






{% endblock content %}