<div class="theme-bg-orange">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center" style="height: 400px;">
            <div class="card text-center">
                <div class="card-header bg-white">
                    閲覧権限がありません
                </div>
                <div class="card-body">
                    <div class="card-title h5">このテキストは通塾生用のテキストです。</div>
                    <p class="card-text">申し訳ございませんが、体験の方は閲覧できません。</p>
                    <a href="{{ page.get_parent.url }}" class="btn btn-secondary">もどる</a>
                </div>
            </div>
        </div>
    </div>
</div>


