<header>
    <div class="container">
        <div class="row" style="position: relative;">
            <div class="col-md-7 d-flex txt-v-center">
                <div class="w-100 font-1">
                    CRAFTGUILD
                </div>
                <div>
                    <button class="humburger-open" id="OpenBtn">
                        <span class="hum-bar"></span>
                        <span class="hum-bar"></span>
                        <span class="hum-bar"></span>
                    </button>       
                </div>
            </div>
            <div class="col-md-5 menu-ul-group txt-v-center" id="responsive_menu">
                <div style="text-align: right;">
                    <button class="humburger-close" id="CloseBtn">
                        <!-- darw cross-bar css -->
                    </button>                          
                </div>
                <ul>
                    <li>
                        <a class="nav-link" href="/feature">特徴</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/online_school">教室</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/trial_class">体験</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'all_pages_integration:contact_page' %}">お問合せ</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a class="nav-link" href="/contents/">コンテンツ</a>
                        </li>
                        <li>
                            {% comment %} <span class="nav-link">
                                {% if user.is_staff and user.is_active %}
                                   {{ user.get_username }}さん
                                {% elif user.is_active %}
                                    {{ user.get_username }}さん
                                {% else %}
                                    {{ user.get_username }}さん
                                {% endif %}
                            </span>  {% endcomment %}

                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ user.get_username }}さん
                                </button>
                                <div class="dropdown-menu text-center">
                                    {% if user.is_superuser %}
                                        <span class="badge text-bg-success">管理権限者</span>
                                    {% elif user.user_type == 0 %}
                                    <span class="badge text-bg-info">通塾生</span>
                                    {% elif user.user_type == 1 %}
                                        <span class="badge text-bg-secondary">体験</span>
                                    {% endif %}
                                    
                                    <form action="/logout/" method="post" name="f_logout">
                                        {% csrf_token %}
                                        <input type="hidden" value="logout">
                                        <a href="javascript: if (window.confirm('ログアウトしてよろしいですか？')) {f_logout.submit()}" class="logout nav-link">ログアウト</a>
                                    </form>
                                </div>
                            </div>
                        </li>
                        
                    {% else %}
                        <li>
                            <a class="nav-link" href="/login">ログイン</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>