{% block extra_css %}
    <style>
    /* 非表示にする */
    a{
        text-decoration: none;
    }
    </style>
{% endblock %}

<div class="d-flex align-items-center justify-content-center" style="height: 600px;">
    <div>
        <div class="h4 mt-4 mb-4">このページの閲覧はログインが必要です</div>
        <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
            <button class="orinal-button theme-bg-orange">
                <a href="{% url 'accounts:login' %}" class="text-secondary">ログイン</a>
            </button>   
        </div>

    </div>
</div>
    