<table class="table table-bordered /border-3 mb-3">
    <thead>
        <tr>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th>土</th>
            <th>日</th>
        </tr>
    </thead>
    <tbody>
        {% for week in calendar %}
            <tr>
                {% for day_data in week %}
                    <td>
                        {{ day_data.day }}
                        {% if day_data.events %}
                            <ul>
                                {% for event in day_data.events %}
                                    <li>{{ event.title }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>