{% extends "base.html" %}
{% load static %}


{% block content %}


<!-- タイトル部分 -->
<div style="background:#FFF;">

    <div class="container">
        <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
            <h1>特徴</h1>
        </div>
    </div>

</div>


<div style="background:#FFCC66;">

    <div class="container">
        <div class="">

            <div class="text-center">
                <p>CraftGuildでモノづくり</p>
                <h3>コンテンツ</h3>
            </div>
            
        </div>
    </div>

</div>

<div>
    <div class="container">
        <div class="">

            <div class="text-center">
                <p>CraftGuildでモノづくり</p>
                <h3>身につくこと</h3>
            </div>
            
        </div>
    </div>
</div>

<div style="background:#FFCC66;">

    <div class="container">
        <div class="">

            <div class="text-center">
                <p>CraftGuildでモノづくり</p>
                <h3>制作の流れ</h3>
            </div>
            
        </div>
    </div>

</div>

<div>
    <div class="container">
        <div class="">

            <div class="text-center">
                <p>CraftGuildでモノづくり</p>
                <h3>こだわり</h3>
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}