{% extends "base.html" %}
{% load static %}





{% block content %}

<!-- タイトル部分 -->
<div style="background:#FFF;">

    <div class="container">
        <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
            <h1>オンライン教室</h1>
        </div>
    </div>

</div>

<div style="background:#FFCC66;">

    <div class="container">
        <div class="">

            <div class="text-center">
                <p>CraftGuildでモノづくり</p>
                <h3>時間割</h3>
            </div>
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">月</th>
                        <th scope="col">火</th>
                        <th scope="col">水</th>
                        <th scope="col">木</th>
                        <th scope="col">金</th>
                        <th scope="col">土</th>
                        <th scope="col">日</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">10:00-11:20</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>◯</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>



<div style="background:#FFF;">

    <div class="container">
        <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
            <div class="text-center">
                <p>CraftGuildでモノづくり</p>
                <h3>プラン</h3>
            </div>
        </div>
    </div>

</div>


<div style="background:#FFCC66;">

    <div class="container">
        <div class="">

            <div class="text-center">
                <p>CraftGuildでモノづくり</p>
                <h3>カレンダー</h3>
            </div>
            
        </div>
    </div>

</div>


<div style="background:#FFF;">

    <div class="container">

        <div class="text-center">
            <p>CraftGuildでモノづくり</p>
            <h3>メンター紹介</h3>
        </div>

        {% load wagtailcore_tags wagtailimages_tags %}

        {% if mentors.count %}
            {% for mentor in mentors.all %}
                <div class="">

                    <div class="">
                        {% image mentor.image fill-300x300 as mentor_img %}
                        <img class="" src="{{ mentor_img.url }}" alt="{{ mentor_img.alt }}">
                    </div>
                    <h5>{{ mentor.name }}</h5>
                    <a href="{% pageurl mentor %}">詳細</a>

                </div>
            {% endfor %}
        {% else %}
            <p>まだメンターがいません</p>
        {% endif %}

    </div>

</div>








{% endblock content %}