
<div style="background:#FFF;">

    <div class="container">
        <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
            <div class="text-center">
                <span class="h1">
                    体験授業
                </span>
            </div>
        </div>
    </div>

</div>


<div style="background:#FFCC66;">

    <div class="container">
        <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
            <div class="text-center">
                <span>
                    <small class="small">CraftGuildでモノづくり</small>
                </span>
                <br>
                <span class="h1">
                    体験の流れ
                </span>
            </div>
        </div>
    </div>

    <div>
        
    </div>

</div>
