/* *,body{
    margin:0;
    padding:0;
} */

.wf-roundedmplus1c {  }

body{
    /* フォント(M PLUS Rounded 1c) */
    font-family: "M PLUS Rounded 1c";
}

header{
    /* height:200px; */
    /* background: #fff; */
}


main{
    /* background: #FFCC66; */
}

.logo-title{
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Carattere', cursive;
    font-family: 'Caveat', cursive;
}

/* フォント極小 */
.ft-xsm{
    font-size: x-small;
}

/* 背景色ーオレンジ */
.theme-bg-orange{
    background:#FFE8A3;
    
}

/* 背景色ー薄いグレー */
.theme-bg-gray{
    background:#F7F7F7;
}


.bg-white{
    background:#FFF;
}

.bg-skyblue{
    background:#BDE3FF;
}


.bg-orange{
    background:#FCD19C;
}

.bg-rose{
    background:#FCC7C2;
}


/* 円形タイトルパーツ */
.circle-title{
    width:80px;
    height:80px;
    border-radius:100%;
}


/* 角丸四角形BOX */
.rounded-box{
    width:100%;
    padding:3px;
    border-radius:20px;
}


/* 矢印↓ */
.dli-arrow-down {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    width: 4px;
    height:100px;
    background-image : linear-gradient(to bottom, #555 13px, transparent 13px);
    background-size: 10px 17px;
    background-repeat: repeat-y;
}

/* 矢印↓ */
.dli-arrow-down::before {
    content: '';
    width: 50px;
    height: 50px;
    border: 4px solid #555;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    position: absolute;
    left: 50%;
    bottom: -0.05em;
    box-sizing: border-box;
}

/* 点線 */
.dod-line{
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    width: 4px;
    height:100px;
    background-image : linear-gradient(to bottom, #555 13px, transparent 13px);
    background-size: 10px 17px;
    background-repeat: repeat-y;
}


/* カバー画像のスタイル */
.cover-img{

    width: 100%;
    height: 150px;
    object-fit: cover; /* この一行を追加するだけ！ */

}

/* オリジナルのボタンスタイル */
.orinal-button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    background-color: #dddddd;
    width: 300px;
    height: 50px;
    border:none;
    border-radius: 14px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    text-decoration: none; 
}





/* レスポンシブ設定 */
@media screen and (max-width: 300px) {
	/* 760px以下に適用されるCSS（PC用） */
    .mb-dsip{
        display: block;
    }
}

@media screen and (max-width: 760px) {
	/* 760px以下に適用されるCSS（PC用） */
    /* 760px以上の時だけ表示する */
    .pc-dsip{
        display: none;
    }
}