/* *,body{
    margin:0;
    padding:0;
} */

body{
    /* background: #FFCC66; */
}

header{
    /* height:200px; */
    /* background: #fff; */
}


main{
    /* background: #FFCC66; */
}

.logo-title{
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Carattere', cursive;
    font-family: 'Caveat', cursive;
}



.highlight {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    margin: 1em 0;
    padding: 1em;
    overflow: auto;
}


/* カバー画像のスタイル */
.cover-img{

    width: 100%;
    height: 150px;
    object-fit: cover; /* この一行を追加するだけ！ */

}