{% block extra_css %}
    <style>
        .select-outer::after{
            content: "▼";
            width: 20px;
            position: absolute;
            top:35px;
            right:20px;
            color: grey;
            pointer-events: none; 
        }

    </style>
{% endblock %}

<form id="contact" novalidate>

    <div class="row /mt-4">
        <div class="col-md-6">
            <label for="">
                お子様の氏名(漢字) <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <input type="text" name="child_name1" class="orginal-input-style" placeholder="田中一郎" required>
        </div>
        <div class="col-md-6">
            <label for="">
                お子様の氏名(ふりがな) <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <input type="text" name="child_name2" class="orginal-input-style" placeholder="たなかいちろう" required>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <label for="">
                保護者の氏名(漢字) <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <input type="text" name="parent_name1" class="orginal-input-style" placeholder="田中真一" required>
        </div>
        <div class="col-md-6">
            <label for="">
                保護者の氏名(ふりがな) <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <input type="text" name="parent_name2" class="orginal-input-style" placeholder="たなかしんいち" required>
        </div>
    </div>

    <div  class="row mt-4">
        <div  class="col-md-12">
            <label for="">
                メールアドレス <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <input type="email" name="email" class="orginal-input-style" required>
        </div>
    </div>

    <div  class="row mt-4">
        <div  class="col-md-12">
            <label for="">
                電話番号 <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <input type="text" name="phone_number" class="orginal-input-style" required>
        </div>
    </div>

    <div  class="row mt-4" style="position: relative;">
        <div  class="col-md-12 select-outer">
            <label for="">
                選択 <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <select name="contact_category" id="" class="orginal-input-style" required>
                <option hidden value="-1">選択してください</option>
                {% for category in categorise %}
                    <option value="{{category.id}}" data-contact_category="{{category.option}}" required>{{category.option}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div  class="row mt-4">
        <div  class="col-md-12">
            <label for="">
                自由記入欄 <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <textarea name="comment" id="" cols="30" rows="10" class="orginal-textarea-style" required></textarea>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
        <button type="submit" class="orinal-button bg-white">内容の確認</button>
    </div>
</form>




<!-- 確認画面 -->
{% include 'contact_form/contact_confirm.html' %}

{% block extra_js %}
{# Override this in templates to add extra javascript #}
    <script>
            
        const contact_form = document.getElementById("contact");
        const contact_confirm_page = document.getElementById("contact_confirm_page");

        contact_form.onsubmit = function(e){

            // 未入力のチェック
            if (contact_form.checkValidity() == false) {
                alert("未入力の項目があります");
            }

            //フォーム送信による画面更新を無効
            e.preventDefault();

            //フォームから入力内容取得
            const child_name1 = contact_form.child_name1.value;
            const child_name2 = contact_form.child_name2.value;
            const parent_name1 = contact_form.parent_name1.value;
            const parent_name2 = contact_form.parent_name2.value;
            const email = contact_form.email.value;
            const phone_number = contact_form.phone_number.value;

            // selectオプションのテキストを取得
            const categorySelect = contact_form.contact_category;
            const category = categorySelect.value;
            const category_text = categorySelect.options[categorySelect.selectedIndex].text;

            const comment = contact_form.comment.value;

            if(category == -1){
                alert("未入力の項目があります");
            }

            function MoveContactConfirm(){
                contact_form.style.display = "none";
                contact_confirm_page.style.display = "block";
                

                //確認画面に値を渡す
                document.getElementById("confirm_child_name1").textContent = child_name1;
                document.getElementById("child_name1").value = child_name1;

                document.getElementById("confirm_child_name2").textContent = child_name2;
                document.getElementById("child_name2").value = child_name2;

                document.getElementById("confirm_parent_name1").textContent = parent_name1;
                document.getElementById("parent_name1").value = parent_name1;

                document.getElementById("confirm_parent_name2").textContent = parent_name2;
                document.getElementById("parent_name2").value = parent_name2;

                document.getElementById("confirm_email").textContent = email;
                document.getElementById("email").value = email;

                document.getElementById("confirm_phone_number").textContent = phone_number;
                document.getElementById("phone_number").value = phone_number;

                document.getElementById("confirm_contact_category").textContent = category_text;
                document.getElementById("contact_category").value = category;

                document.getElementById("confirm_comment").textContent = comment;
                document.getElementById("comment").value = comment;       
            }

            // 入力OKの処理
            if (contact_form.checkValidity() && category != -1) {
                //確認画面へ
                MoveContactConfirm();
            }

        }


        function back_contact_input(){
            contact_confirm_page.style.display = "none";
            contact_form.style.display = "block";
        }
    </script>    
{% endblock %}

