{% extends "base.html" %}
{% load static %}

{% block content %}

<div style="background:#FFF;">

    <div class="container">
        <div class="d-flex align-items-center justify-content-center" style="height: 700px;">
            <div>
                <div class="h5">
                    お問い合せを送信しました。
                </div>
                
                <div class="d-grid gap-2 mt-5">
                    <a class="btn btn-primary" href="/feature/" role="button">OK</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}