{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-formpage{% endblock %}

{% block content %}


    <div style="background:#FFF;">

        <div class="container">
            <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
                <div class="text-center">
                    <span class="h1">
                        お問合せ
                    </span>
                </div>
            </div>
        </div>

    </div>


    <div style="background:#FFCC66;">

        <div class="container">

            <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
                <div class="text-center">
                    <span>
                        <small class="small">CraftGuildでモノづくり</small>
                    </span>
                    <br>
                    <span class="h1">
                        よくあるご質問
                    </span>
                </div>
            </div>

            <!-- formアプリケーションのmodels.py/FormPageクラスから値questionsを渡してる -->
            {% if questions %}
                {% for question in questions %}
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <span class="badge border border-2 border-warning rounded-3 bg-orange-300 /pl-3 /pr-3 text-dark fs-3">
                                Q
                            </span>
                            <div class="border border-2 rounded-3 bg-white p-2">
                                <p>{{ question.question|safe }}</p>
                            </div>
                            <div class="p-2">
                                <p>{{ question.answer|safe }}</p>
                            </div>
                        </li>
                    </ul>
                {% endfor %}
            {% else %}
                <p>No questions found.</p>
            {% endif %}

        </div>

    </div>


    <div style="background:#FFF;">

        <div class="container">
            <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
                <div class="text-center">
                    <span>
                        <small class="small">CraftGuildでモノづくり</small>
                    </span>
                    <br>
                    <span class="h1">
                        {{ page.title }}a
                    </span>
                </div>
            </div>
        </div>
    
    </div>

    <div style="background:#FFF;">

        <div class="container pt-2 pb-2">  

            <!-- <div>{{ page.intro|richtext }}</div> -->

            <form class="page-form" action="{% pageurl page %}" method="POST">
                {% csrf_token %}
                {% if form.subject.errors %}
                    <ol role="alertdialog">
                    {% for error in form.subject.errors %}
                        <li role="alert"><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}

                {% for field in form %}

                    {{ field.label_tag }}

                    {% if field.field.required %}<span class="required">*</span>{% endif %}

                    <div class="field-outer-tag">
                        {{ field }}
                    </div>
                    
                {% endfor %}
                <button type="Submit" class="btn btn-primary">Submit</button>
            </form>

        </div>

    </div>



{% endblock content %}

