<table class="table table-bordered /border-3 mb-3">
    <thead>
        <tr>
            <th scope="col" style="width: 14.29%;">月</th>
            <th scope="col" style="width: 14.29%;">火</th>
            <th scope="col" style="width: 14.29%;">水</th>
            <th scope="col" style="width: 14.29%;">木</th>
            <th scope="col" style="width: 14.29%;">金</th>
            <th scope="col" style="width: 14.29%;">土</th>
            <th scope="col" style="width: 14.29%;">日</th>
        </tr>
    </thead>
    <tbody>
        {% load wagtailcore_tags wagtailimages_tags %}
        {% for week in calendar_data %}
            <tr>
                {% for day_data in week %}
                    <td style="height: 14.29%;">
                        {{ day_data.day }}
                        {% if day_data.events %}
                            
                            <ul>
                                {% for event in day_data.events %}
                                    <li><a href="{% pageurl event %}">{{ event.title }}</a></li>
                                {% endfor %}
                            </ul>
                            
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>