{% load wagtailcore_tags wagtailimages_tags %}

<div class="col-12 mt-5 mb-5">
    <div class="row {% if forloop.counter|divisibleby:2 %}flex-row-reverse{% endif %}">
        <div class="col-md-4">
            {% image content.cover_image fill-400x300 as cover_image %}
            {% if content.cover_image %}
                <img src="{{ cover_image.url }}" class="d-block w-100" alt="">
            {% else %}
                <div class="d-flex w-100 bg-secondary align-items-center justify-content-center" style="height: 250px;">
                    <p>No Image</p>
                </div>
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="h1 font-1 res-text-center">{{content.contents_name}}</div>
                <p class="/card-text" style="line-height:1.5;">{{content.explanation}}</p>
                <div>
                    {% with tags=content.tags.all %}
                    {% if tags %}
                        <div class="tags">
                            {% for tag in tags %}
                                <span class="badge bg-light text-dark shadow">{{ tag }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% endwith %}
                </div>
                <p class="card-text">{{content.note}}</p>
            </div>
        </div>

    </div>
</div>