{% load wagtailcore_tags wagtailimages_tags %}

<div class="col-md-4 m-2" style="width: 20rem;">
    {% image flow.cover_image fill-300x300 as cover_image %}
    {% if flow.cover_image %}
        <img src="{{ cover_image.url }}" class="card-img-top img-style-cover" alt="{{ cover_image.url }}" height="200px">
    {% else %}
        <div class="d-flex align-items-center justify-content-center bg-secondary" style="height: 200px;">
            <p class="text-center">No Image</p>
        </div>
    {% endif %}
    <div class="card-body">
        <h5 class="card-title text-center border-bottom border-3 border-dark p-2">
            {{flow.flow_item}}
        </h5>
        <p class="card-text pt-3" style="height: 150px">
            {{flow.description}}
        </p>
    </div>
</div>

