{% extends "base.html" %}
{% load static %}

<!-- 画像処理 -->
{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}

<div style="background:#FFF;">

    <div class="container">
        <div class="d-flex align-items-center justify-content-center" style="height: 700px;">
            <div>
                <div class="h5">
                    エラーが発生したため、送信できませんでした
                </div>
                
                <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
                    <a class="orinal-button" href="/trial_class/" role="button">もどる</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}