<!-- 画像処理 -->
{% load wagtailcore_tags wagtailimages_tags %}


{% block extra_css %}
    <style>

        input[type="radio"] {
            display: none;
        }

        /* カスタムスタイルのラベル */
        label.contents-label {
            display: block;
            width: 200px;
            height: 200px;
            cursor: pointer;
            padding-top: 40px;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            line-height: 20px;
            background: #fff;
            margin:10px;
            border-radius: 5px;
            margin-right: 20px;
        }

        /* チェックされたラベルのスタイル */
        input[type="radio"]:checked + label.contents-label {
            background-color: #FFC7C2; /* 選択時の背景色 */
        }

        .invalid {
            border: 1px solid red;
        }
    </style>
{% endblock %}

<form id="reservation" novalidate>

    <div class="row /mt-4">
        <div class="col-md-6 form-group">
            <label for="">
                お子様の氏名(漢字) <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <input type="text" name="child_name1" class="form-control orginal-input-style" placeholder="田中 一郎" required>
        </div>
        <div class="col-md-6">
            <label for="">
                お子様の氏名(ふりがな) <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <input type="text" name="child_name2" class="orginal-input-style" placeholder="田中 一郎" required>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <label for="">
                保護者の氏名(漢字) <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <input type="text" name="parent_name1" class="orginal-input-style" placeholder="田中 一郎" required>
        </div>
        <div class="col-md-6">
            <label for="">
                保護者の氏名(ふりがな) <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <input type="text" name="parent_name2" class="orginal-input-style" placeholder="田中 一郎" required>
        </div>
    </div>

    <div  class="row mt-4">
        <div  class="col-md-12">
            <label for="">
                メールアドレス <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <input type="email" name="email" class="orginal-input-style" required>
        </div>
    </div>

    <div  class="row mt-4">
        <div  class="col-md-12">
            <label for="">
                電話番号 <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <input type="text" name="phone_number" class="orginal-input-style" required>
        </div>
    </div>


    <div  class="row mt-4">
        <div  class="col-md-12">
            <label for="">
                希望日時 <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            {% include 'trial_class_reservation/reservation_calendar.html' %}
        </div>
    </div>


    <div  class="row mt-4">
        <div  class="col-md-12">
            <div class="mb-2">
                コンテンツ <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </div>

            <div class="w-100 d-flex">
            {% for content in contents %}
            
                <div>
                    <input type="radio" id="content{{ content.id }}" name="content" value="{{content.id}}" data-content="{{content.name}}" style="display: none;" required>
                    <label for="content{{ content.id }}" class="contents-label">
                        {% if content.image %}
                        <img src="{{ content.image.url }}" alt="イメージ画像" width="100%" height="80px" style="object-fit: cover;">
                        {% endif %}
                        <div class="text-center" contenteditable="false">{{ content.name }}</div>
                    </label>
                </div>
            
            {% endfor %}
            </div>

        </div>
    </div>


    <div  class="row mt-4">
        <div  class="col-md-12">
            <label for="">自由記入欄</label>
            <textarea name="comment" id="" cols="30" rows="10" class="orginal-textarea-style"></textarea>
        </div>
    </div>
    

    <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
        <button class="orinal-button bg-white">内容を確認</button>
    </div>

</form>




<!-- 確認画面 -->
{% include 'trial_class_reservation/reservation_confirm.html' %}



