<!-- 画像処理 -->
{% load wagtailcore_tags wagtailimages_tags %}


{% block extra_css %}
    <style>

        input[type="radio"] {
            display: none;
        }

        /* カスタムスタイルのラベル */
        label.contents-label {
            display: block;
            width: 200px;
            height: 200px;
            cursor: pointer;
            padding-top: 40px;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            line-height: 20px;
            background: #fff;
            margin:10px;
            border-radius: 5px;
            margin-right: 20px;
        }

        /* チェックされたラベルのスタイル */
        input[type="radio"]:checked + label.contents-label {
            background-color: #FFC7C2; /* 選択時の背景色 */
        }

        .invalid {
            border: 1px solid red;
        }
    </style>
{% endblock %}

<form id="reservation" novalidate>

    <div class="row /mt-4">
        <div class="col-md-6 form-group">
            <label for="">
                お子様の氏名(漢字) <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <input type="text" name="child_name1" class="form-control orginal-input-style" placeholder="田中一郎" required>
        </div>
        <div class="col-md-6">
            <label for="">
                お子様の氏名(ふりがな) <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <input type="text" name="child_name2" class="orginal-input-style" placeholder="たなかいちろう" required>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <label for="">
                保護者の氏名(漢字) <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <input type="text" name="parent_name1" class="orginal-input-style" placeholder="田中真一" required>
        </div>
        <div class="col-md-6">
            <label for="">
                保護者の氏名(ふりがな) <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <input type="text" name="parent_name2" class="orginal-input-style" placeholder="たなかしんいち" required>
        </div>
    </div>

    <div  class="row mt-4">
        <div  class="col-md-12">
            <label for="">
                メールアドレス <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <input type="email" name="email" class="orginal-input-style" required>
        </div>
    </div>

    <div  class="row mt-4">
        <div  class="col-md-12">
            <label for="">
                電話番号 <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            <input type="text" name="phone_number" class="orginal-input-style" required>
        </div>
    </div>


    <div  class="row mt-4">
        <div  class="col-md-12">
            <label for="">
                希望日時 <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </label>
            {% include 'trial_class_reservation/reservation_calendar.html' %}
        </div>
    </div>


    <div  class="row mt-4">
        <div  class="col-md-12">
            <div class="mb-2">
                コンテンツ <span class="badge rounded-pill text-bg-danger mb-1">必須</span>
            </div>

            <div class="row w-100 d-flex">
            {% for content in contents %}
            
                <div class="col-md-4">
                    <input type="radio" id="content{{ content.id }}" name="content" value="{{content.id}}" data-content="{{content.name}}" style="display: none;" required>
                    <label for="content{{ content.id }}" class="contents-label">
                        {% if content.image %}
                        <img src="{{ content.image.url }}" alt="イメージ画像" width="100%" height="80px" style="object-fit: cover;">
                        {% endif %}
                        <div class="mt-3 font-1 fs-3 text-center" contenteditable="false">{{ content.name }}</div>
                    </label>
                </div>
            
            {% endfor %}
            </div>

        </div>
    </div>


    <div  class="row mt-4">
        <div  class="col-md-12">
            <label for="">自由記入欄</label>
            <textarea name="comment" id="" cols="30" rows="10" class="orginal-textarea-style"></textarea>
        </div>
    </div>
    

    <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
        <button class="orinal-button bg-white">内容を確認</button>
    </div>

</form>




<!-- 確認画面 -->
{% include 'trial_class_reservation/reservation_confirm.html' %}



{% block extra_js %}
    <script>
        const reservation_form = document.getElementById("reservation");
        const confirm_reservation = document.getElementById("confirm_reservation");
        const validation  = document.getElementById("validation");


        reservation_form.onsubmit = function(e){

            //未入力
            if (reservation_form.checkValidity() == false) {
                alert("未入力の項目があります");
            }

            //フォーム送信による画面更新を無効
            e.preventDefault();



            //フォームから入力内容取得
            const child_name1 = reservation_form.child_name1.value;
            const child_name2 = reservation_form.child_name2.value;
            const parent_name1 = reservation_form.parent_name1.value;
            const parent_name2 = reservation_form.parent_name2.value;
            const email = reservation_form.email.value;
            const phone_number = reservation_form.phone_number.value;
            const schedule = reservation_form.schedule.value;
            const schedule_text = reservation_form.querySelector('input[name="schedule"]:checked').getAttribute('data-schedule');
            const content = reservation_form.content.value;
            const content_text = reservation_form.querySelector('input[name="content"]:checked').getAttribute('data-content');
            const comment = reservation_form.comment.value;


            
            function MoveReservationConfim() {
                
                reservation_form.style.display = "none";
                confirm_reservation.style.display = "block";
                
                //確認画面に値を渡す
                document.getElementById("confirm_child_name1").textContent = child_name1;
                document.getElementById("child_name1").value = child_name1;        

                document.getElementById("confirm_child_name2").textContent = child_name2;
                document.getElementById("child_name2").value = child_name2;

                document.getElementById("confirm_parent_name1").textContent = parent_name1;
                document.getElementById("parent_name1").value = parent_name1;

                document.getElementById("confirm_parent_name2").textContent = parent_name2;
                document.getElementById("parent_name2").value = parent_name2;

                document.getElementById("confirm_email").textContent = email;
                document.getElementById("email").value = email;

                document.getElementById("confirm_phone_number").textContent = phone_number;
                document.getElementById("phone_number").value = phone_number;

                document.getElementById("confirm_schedule").textContent = schedule_text;
                document.getElementById("schedule").value = schedule;

                document.getElementById("confirm_content").textContent = content_text;
                document.getElementById("content").value = content;

                document.getElementById("confirm_comment").textContent = comment;
                document.getElementById("comment").value = comment;


                confirm_reservation.style.display = "block";
                reservation_form.style.display = "none";

            }

            if (reservation_form.checkValidity()) {
                MoveReservationConfim();
            }



        }


        function back_reservation_input(){
            confirm_reservation.style.display = "none";
            reservation_form.style.display = "block";
            // alert('sss');
        }
    </script>
{% endblock %}