<!-- 画像処理 -->
{% load wagtailcore_tags wagtailimages_tags %}

<!-- <form action="{% url 'trial_class_reservation:post_reservation' %}" method="post"> -->
<form action="#" id="reservation">
    
    {% csrf_token %}

    <div class="row /mt-4">
        <div class="col-md-6">
            <label for="">お子様の氏名(漢字)</label>
            <input type="text" name="child_name1" class="orginal-input-style">
        </div>
        <div class="col-md-6">
            <label for="">お子様の氏名(ふりがな)</label>
            <input type="text" name="child_name2" class="orginal-input-style">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <label for="">保護者の氏名(漢字)</label>
            <input type="text" name="parent_name1" class="orginal-input-style">
        </div>
        <div class="col-md-6">
            <label for="">保護者の氏名(ふりがな)</label>
            <input type="text" name="parent_name2" class="orginal-input-style">
        </div>
    </div>

    <div  class="row mt-4">
        <div  class="col-md-12">
            <label for="">メールアドレス</label>
            <input type="email" name="email" class="orginal-input-style">
        </div>
    </div>

    <div  class="row mt-4">
        <div  class="col-md-12">
            <label for="">電話番号</label>
            <input type="text" name="phone_number" class="orginal-input-style">
        </div>
    </div>


    <div  class="row mt-4">
        <div  class="col-md-12">
            <label for="">希望日時</label>
            {% include 'trial_class_reservation/reservation_calendar.html' %}
        </div>
    </div>


    <div  class="row mt-4">
        <div  class="col-md-12">
            <label for="">コンテンツ</label>
            {% for content in contents %}
            <div>

                <label for="">
                    {% if content.image %}
                    <img src="{{ content.image.url }}" alt="イメージ画像" width="100px">
                    {% endif %}
                    <div>{{content.id}}{{ content.name }}</div>
                </label>
                
                <input type="radio" name="content" value="{{content.id}}" data-content="{{content.id}}{{content.name}}"><br>
            </div>
            {% endfor %}
        </div>
    </div>


    <div  class="row mt-4">
        <div  class="col-md-12">
            <label for="">自由記入欄</label>
            <textarea name="comment" id="" cols="30" rows="10" class="orginal-textarea-style"></textarea>
        </div>
    </div>
    

    <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
        <button class="orinal-button bg-white">内容を確認</button>
    </div>

</form>



<!-- 確認画面 -->
{% include 'trial_class_reservation/reservation_confirm.html' %}



